button,
.number {
  padding: 10px;
  text-align: center;
  border: 1px solid #000;
  background-color: #f9f9f9;
}

#container-container {
  max-width: 50%;
  display: grid;
  margin: 0 auto;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas: "addC numC subC";
  grid-auto-rows: 1fr;
  grid-column-gap: 10px;
}

#add-button-container,
#sub-button-container,
#number-container {
  display: grid;
  margin: 0 auto;
  height: 100%;
  grid-template-rows: repeat(auto-fill, minmax(min-content, 1fr));
}

#add-button-container {
  grid-area: addC;
  grid-template-areas:
    "aB1"
    "aB2"
    "aB3"
    "aB4"
    "aB5"
    "aB6"
    "aB7"
    "aB8"
    "aB9"
    "aB10"
    "aB11"
    "aB12"
    "aB13"
    "aB14"
    "aB15"
    "aB16"
    "aB17"
    "aB18"
    "aB19"
    "aB20";
}

#sub-button-container {
  grid-area: subC;
  grid-template-areas:
    "sB1"
    "sB2"
    "sB3"
    "sB4"
    "sB5"
    "sB6"
    "sB7"
    "sB8"
    "sB9"
    "sB10"
    "sB11"
    "sB12"
    "sB13"
    "sB14"
    "sB15"
    "sB16"
    "sB17"
    "sB18"
    "sB19"
    "sB20";
}

#number-container {
  grid-area: numC;
  grid-template-areas:
    "nu1"
    "nu2"
    "nu3"
    "nu4"
    "nu5"
    "nu6"
    "nu7"
    "nu8"
    "nu9"
    "nu10"
    "nu11"
    "nu12"
    "nu13"
    "nu14"
    "nu15"
    "nu16"
    "nu17"
    "nu18"
    "nu19"
    "nu20";
}
